<!-- ko if: catalogs != null -->
<div class="form_choose">
  <div class="form_choose_content">
    <div></div>
    <table data-bind="foreach: catalogs">
      <tr data-bind="attr: { id: id, name: tag, count: count }">
        <td class="apply_choose_item"
            data-bind="event: { click: select_catalog }">
          [A]
        </td>
        <td class="title_choose_item"
            data-bind="text: tag, event: { click: show_subcatalogs }"></td>
      </tr>
    </table>
  </div>
</div>
<!-- /ko -->

<form data-bind="with: object">
  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_entity">Entity:</label>
        </span>
        <span>
          <input id="estimate_entity" type="text" data-url="legal_entities.json"
                 data-field="name" bind-param="legal_entity_id"
                 data-bind="event: {focus: autocomplete_init}"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_ident_name">Ident. name:</label>
        </span>
        <span>
          <input id="estimate_ident_name" type="text"
                 data-field="identifier_name"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_ident_value">Ident. value:</label>
        </span>
        <span>
          <input id="estimate_ident_value" type="text"
                 data-field="identifier_value"/>
        </span>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Catalog</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_catalog">Name:</label>
        </span>
        <span>
          <input id="estimate_catalog" type="text" disabled="disabled"/>
        </span>
        <span>
          <input type="button" value="Choose" id="estimate_catalog_choice"
                 data-bind="click: show_catalog_selector"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_catalog_date">Date:</label>
        </span>
        <span>
          <input id="estimate_catalog_date" type="text" bind-param="date"
                 data-url="price_lists.json" data-field="date"
                 data-bind="disable: !object().catalog_id(),
                            event: {focus: autocomplete_init}"/>
        </span>
      </div>
    </div>
  </fieldset>
  <fieldset class="with-legend">
    <legend>BoMs</legend>
    <input type="button" value="Add"
           data-bind="click: bom_add, disable: !object().catalog_id()"/>
    <table id="estimate_boms">
      <thead>
        <tr>
          <th class="estimate-boms-name">BoM</th>
          <th>Tab</th>
          <th>Count</th>
          <th>Sum</th>
          <th class="estimate-boms-actions"></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: boms">
        <tr data-bind="attr: { idx: boms.indexOf($data) }">
          <td class="estimate-boms-work">
            <input type="text" data-url="bo_ms.json" data-field="tag" class="bom_tag"
                   data-bind="value: tag, disable: !object().catalog_id(),
                              attr: { id: 'bom_' + boms.indexOf($data) },
                              event: { focus: autocomplete_init }"/>
          </td>
          <td class="estimate-boms-tab">
            <input type="text" disabled="true"
                   data-bind="value: tab,
                              attr: { id: 'tab_' + boms.indexOf($data) }" />
          </td>
          <td class="estimate-boms-count">
            <input type="text"
                   data-bind="value: count,
                              disable: !tag().length || !object().catalog_id(),
                              attr: { id: 'count_' + boms.indexOf($data),
                                      idx: boms.indexOf($data) },
                              event: { blur: load_bom_sum }"/>
          </td>
          <td class="estimate-boms-sum">
            <input type="text" disabled="true"
                   data-bind="value: sum,
                              attr: { id: 'sum_' + boms.indexOf($data) }" />
          </td>
          <td class="estimate-boms-actions">
            <label data-bind="click: bom_remove, visible: object().catalog_id()"></label>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="Add"
           data-bind="click: bom_add, disable: !object().catalog_id()"/>
  </fieldset>
</form>
