<form data-bind="with: object">
  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_entity">Entity:</label>
        </span>
        <span>
          <input id="estimate_entity" type="text" data-url="legal_entities.json"
                 data-field="name" bind-param="legal_entity_id"
                 data-bind="event: {focus: autocomplete_init}"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_ident_name">Ident. name:</label>
        </span>
        <span>
          <input id="estimate_ident_name" type="text"
                 data-field="identifier_name"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="estimate_ident_value">Ident. value:</label>
        </span>
        <span>
          <input id="estimate_ident_value" type="text"
                 data-field="identifier_value"/>
        </span>
      </div>
    </div>
  </fieldset>
</form>
