<div class='actions with-padding'>
  <input type="button"
         value="<%= t 'views.entities.report_on_selected' %>"
         id="report_on_selected"
         data-bind="click: showBalances,  disable: selected().length == 0" />
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th id="tag" data-bind="click: sortBy">
        <%= t 'views.entities.tag' %><span></span>
      </th>
      <th id="type" data-bind="click: sortBy">
        <%= t 'views.entities.type' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class="cell-checkbox">
        <input type="checkbox"
                 data-bind="attr: { 'data-item-type': klass, value: id },
                            polymorphic_checked: $parent.selected" />
      </td>
      <td data-bind="text: tag, click: $parent.show"></td>
      <td data-bind="text: type, click: $parent.show"></td>
    </tr>
  </tbody>
</table>
