<table>
  <thead>
    <tr>
      <th id="tag" data-bind="click: sortBy">
        <%=t 'views.groups.tag' %><span></span>
      </th>
      <th id="manager" data-bind="click: sortBy">
        <%=t 'views.groups.manager' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: tag, click: $parent.showGroup"></td>
      <td data-bind="text: manager_tag, click: $parent.showGroup"></td>
    </tr>
  </tbody>
</table>
