<table>
  <thead>
    <tr>
      <th id="tag" data-bind="click: sortBy">
        <%=t 'views.users.user_name' %><span></span>
      </th>
      <th id="email" data-bind="click: sortBy">
        <%=t 'views.users.email' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: tag, click: $parent.showUser"></td>
      <td data-bind="text: email, click: $parent.showUser"></td>
    </tr>
  </tbody>
</table>
