<form data-bind="validate: { success: save }">
  <fieldset id="container_notification">
    <legend>Errors</legend>
    <ul></ul>
  </fieldset>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created">Created at:</label>
        </span>
        <span>
          <input type="text" id="created" rule="required" name="Created"
                 data-bind="datepicker: distribution.created, disable: readonly">
        </span>
      </div>
      <!-- ko if: readonly -->
      <div>
        <span class="form-cell-label">
          <label for="state">State:</label>
        </span>
        <span>
          <input type="text" id="state" disabled="disabled"
                 data-bind="value: getState(distribution().state)">
        </span>
      </div>
      <!-- /ko -->
    </div>
  </fieldset>

  <fieldset>
    <legend>Storekeeper</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity">Entity:</label>
        </span>
        <span data-bind='with: distribution.storekeeper'>
          <input type='text' id='storekeeper_entity'
                 name='Storekeeper Entity' rule='required'
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bindId: $parent.distribution.storekeeperId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place">Place:</label>
        </span>
        <span data-bind='with: distribution.storekeeperPlace'>
          <input type='text' id='storekeeper_place'
                 name='Storekeeper Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.distribution.storekeeperPlaceId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Foreman</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_entity">Entity:</label>
        </span>
        <span data-bind='with: distribution.foreman'>
          <input type='text' id='foreman_entity'
                 name='Foreman Entity' rule='required'
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bindId: $parent.distribution.foremanId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_place">Place:</label>
        </span>
        <span data-bind='with: distribution.foremanPlace'>
          <input type='text' id='foreman_place'
                 name='Foreman Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.distribution.foremanPlaceId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <div id="resources-tables">
    <!-- ko ifnot: readonly -->
    <table id="available-resources">
      <caption>Available resources</caption>
      <thead>
      <tr>
        <th class="distribution-actions"></th>
        <th class="available-resources-tag">Tag</th>
        <th class="available-resources-mu">MU</th>
        <th class="available-resources-exp-amount">Exp. Amount</th>
      </tr>
      </thead>
      <tbody data-bind="foreach: availableResources">
      <tr>
        <td class="distribution-actions">
          <span class="mini-icon add" data-bind="click: $parent.selectResource"></span>
        </td>
        <td data-bind="text: tag"></td>
        <td data-bind="text: mu"></td>
        <td data-bind="text: exp_amount"></td>
      </tr>
      </tbody>
    </table>
    <!-- /ko -->

    <table id="selected-resources">
      <caption>Selected resources</caption>
      <thead>
      <tr>
        <!-- ko ifnot: readonly -->
        <th class="distribution-actions"></th>
        <!-- /ko -->
        <th class="selected-resources-tag">Tag</th>
        <th class="selected-resources-mu">MU</th>
        <!-- ko ifnot: readonly -->
        <th class="selected-resources-exp-amount">Exp. Amount</th>
        <!-- /ko -->
        <th class="selected-resources-count">Amount</th>
      </tr>
      </thead>
      <tbody data-bind="foreach: selectedResources">
      <tr>
        <!-- ko ifnot: $parent.readonly -->
        <td class="distribution-actions">
          <span class="mini-icon delete" data-bind="click: $parent.unselectResource"></span>
        </td>
        <!-- /ko -->
        <td data-bind="text: tag"></td>
        <td data-bind="text: mu"></td>
        <!-- ko ifnot: $parent.readonly -->
        <td data-bind="text: exp_amount"></td>
        <!-- /ko -->
        <td>
          <input type="text" size="8"
                 data-bind="value: amount, disable: $parent.readonly" />
        </td>
      </tr>
      </tbody>
    </table>
    <div class="clear-div"></div>
  </div>

</form>

