<form data-bind="with: object, submit: distribution_save" method="post" action="#">
  <fieldset id="container_notification">
    <legend>Errors</legend>
    <ul></ul>
  </fieldset>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created">Created at:</label>
        </span>
        <span>
          <input type="text" id="created" rule="required" name="Created"
                 data-bind="datepicker: created, disable: readonly()">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Storekeeper</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity">Entity:</label>
        </span>
        <span>
          <input id="storekeeper_entity" type="text" data-url="entities.json"
                 data-field="tag" bind-param="storekeeper_id"
                 rule="required" name="Storekeeper Entity"
                 data-bind="value: storekeeper.tag,
                            event: {focus: autocomplete_init},
                            disable: readonly()"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place">Place:</label>
        </span>
        <span>
          <input id="storekeeper_place" type="text" data-url="places.json"
                 data-field="tag" bind-param="storekeeper_place_id"
                 rule="required" name="Storekeeper Place"
                 data-bind="value: storekeeper_place.tag,
                            event: {focus: autocomplete_init},
                            disable: readonly()" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Foreman</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_entity">Entity:</label>
        </span>
        <span>
          <input id="foreman_entity" type="text" data-url="entities.json"
                 data-field="tag" bind-param="foreman_id"
                 rule="required" name="Foreman Entity"
                 data-bind="value: foreman.tag,
                            event: {focus: autocomplete_init},
                            disable: readonly()"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_place">Place:</label>
        </span>
        <span>
          <input id="foreman_place" type="text" data-url="places.json"
                 data-field="tag" bind-param="foreman_place_id"
                 rule="required" name="Foreman Place"
                 data-bind="value: foreman_place.tag,
                            event: {focus: autocomplete_init},
                            disable: readonly()" />
        </span>
      </div>
    </div>
  </fieldset>
</form>

<div id="resources-tables">
  <table id="available-resources">
    <caption>Available resources</caption>
    <thead>
      <tr>
        <th class="distribution-actions"></th>
        <th class="available-resources-tag">Tag</th>
        <th class="available-resources-mu">MU</th>
        <th class="available-resources-exp-amount">Exp. Amount</th>
      </tr>
    </thead>
      <tbody data-bind="foreach: availableResources">
        <tr>
          <td class="distribution-actions">
            <span class="mini-icon add" data-bind="click: selectResource"></span>
          </td>
          <td data-bind="text: tag"></td>
          <td data-bind="text: mu"></td>
          <td data-bind="text: exp_amount"></td>
        </tr>
      </tbody>
  </table>

  <table id="selected-resources">
    <caption>Selected resources</caption>
    <thead>
      <tr>
        <th class="distribution-actions"></th>
        <th class="selected-resources-tag">Tag</th>
        <th class="selected-resources-mu">MU</th>
        <th class="selected-resources-exp-amount">Exp. Amount</th>
        <th class="selected-resources-count">Amount</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: selectedResources">
      <tr>
        <td class="distribution-actions">
          <span class="mini-icon delete" data-bind="click: unselectResource"></span>
        </td>
        <td data-bind="text: tag"></td>
        <td data-bind="text: mu"></td>
        <td data-bind="text: exp_amount"></td>
        <td>
          <input type="text" size="8" rule="required_num"
                 data-bind="value: amount, disable: readonly()" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
