input type="submit" value="#{t('views.users.save')}" data-bind="disable: disableSave()"
- if editable
  input type="button" value="#{t('views.users.edit')}" data-bind="click: edit, disable: disableEdit()"
input type="button" value="#{t('views.users.back')}" data-bind="click: back"
