<table>
  <thead>
    <tr>
      <th></th>
      <th id="customer_tag" data-bind="click: sortBy">
        <%= t('views.estimates.projects.customer') %><span></span>
      </th>
      <th id="place_tag" data-bind="click: sortBy">
        <%= t('views.estimates.projects.place') %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class='with-comment' data-bind="text: comments_count, click: $parent.receiveComments"></td>
      <td data-bind="text: customer.tag, click: $parent.show"></td>
      <td data-bind="text: place.tag, click: $parent.show"></td>
    </tr>
    <tr data-bind="with: subitems">
      <td rowspan="2"></td>
      <td colspan="2">
        <%= render :partial => "home/items_paginate" %>
      </td>
    </tr>
    <tr data-bind="with: subitems">
      <td colspan="2" class="padright padbot">
        <%= render :partial => "home/comments", :locals => { :items => 'documents' } %>
      </td>
  </tbody>
</table>
