<form data-bind="with: waybill_object, validate: { event: 'submit', success: waybill_save }"
      method="post" action="#">
  <fieldset id="container_notification">
    <legend>Errors</legend>
    <ul></ul>
  </fieldset>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created">Created at:</label>
        </span>
        <span>
          <input type="text" id="created" rule="required" name="Created"
                 data-bind="datepicker: created, disable: readonly()">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_document_id">Document id:</label>
        </span>
        <span>
          <input type="text" id="waybill_document_id" rule="required"
                 name="Document Id" data-bind="value: document_id, disable: readonly()">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Distributor</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_entity">Entity:</label>
        </span>
        <span data-bind='with: distributor'>
          <input type='text' id='waybill_entity'
                 name='Distributor Entity' rule='required'
                 data-bind="autocomplete: { source: '/legal_entities.json',
                                            value: 'name',
                                            bindId: $parent.distributor_id },
                            value: name, disable: readonly()" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_name">Ident. name:</label>
        </span>
        <span>
          <input type='text' id='waybill_ident_name'
                 name='Distributor Ident. Name' rule='required'
                 data-bind="value: distributor.identifier_name,
                            disable: readonly()"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_value">Ident. value:</label>
        </span>
        <span>
          <input id="waybill_ident_value" type="text"
                 data-field="identifier_value"
                 rule="required" name="Distributor Ident. Value"
                 data-bind="value: distributor.identifier_value,
                            disable: readonly()" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="distributor_place">Place:</label>
        </span>
        <span data-bind="with: distributor_place">
          <input type='text' id='distributor_place'
                 name='Distributor Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.distributor_place_id },
                            value: tag, disable: readonly()" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Storekeeper</legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity">Entity:</label>
        </span>
        <span data-bind='with: storekeeper'>
          <input type='text' id='storekeeper_entity'
                 name='Storekeeper Entity' rule='required'
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bindId: $parent.storekeeper_id },
                            value: tag, disable: readonly()" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place">Place:</label>
        </span>
        <span data-bind='with: storekeeper_place'>
          <input type='text' id='storekeeper_place'
                 name='Storekeeper Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.storekeeper_place_id },
                            value: tag, disable: readonly()" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset class="with-legend">
    <legend>Waybill Entry</legend>
    <input type="button" value="Add"
           data-bind="click: waybill_entry_add, disable: readonly()"/>
    <table id="estimate_boms">
      <thead>
      <tr>
        <th class="waybill-entry-tag">Entry name</th>
        <th class="waybill-entry-mu">Measure</th>
        <th class="waybill-entry-count">Count</th>
        <th class="waybill-entry-price">Price</th>
        <th class="estimate-boms-actions"></th>
      </tr>
      </thead>
      <tbody data-bind="foreach: waybill_entries, elementValidate: waybill_entries">
      <tr data-bind="attr: { idx: waybill_entries.indexOf($data) }">
        <td>
          <input type="text" rule="required"
                 data-bind="value: tag, disable: readonly(),
                            attr: { id: 'tag_' + waybill_entries.indexOf($data),
                                    name: 'Item#' + waybill_entries.indexOf($data) + ' Tag'}" />
        </td>
        <td>
          <input type="text" rule="required"
                 data-bind="value: mu, disable: readonly(),
                            attr: { id: 'mu_' + waybill_entries.indexOf($data),
                                    name: 'Item#' + waybill_entries.indexOf($data) + ' MU'}" />
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: count, disable: readonly(),
                            attr: { id: 'count_' + waybill_entries.indexOf($data),
                                    name: 'Item#' + waybill_entries.indexOf($data) + ' Count'}"/>
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: price, disable: readonly(),
                            attr: { id: 'price_' + waybill_entries.indexOf($data),
                                    name: 'Item#' + waybill_entries.indexOf($data) + ' Price'}" />
        </td>
        <td class="estimate-boms-actions">
          <label data-bind="click: waybill_entry_remove, visible: !readonly()"></label>
        </td>
      </tr>
      </tbody>
    </table>
    <input type="button" value="Add"
           data-bind="click: waybill_entry_add, disable: readonly()"/>
  </fieldset>
</form>
