<div class="help">
    <h1>Инструкция по использованию программы acc.wicon.ru.</h1>
    <ul>
        <li><a href="#enter" class="ancLinks">Вход на сайт</a></li>
        <li><a href="#site" class="ancLinks">Знакомство с сайтом</a></li>
        <li><a href="#work" class="ancLinks">Работа с данными на сайте</a>
            <ul>
                <li><a href="#state" class="ancLinks">Состояние склада</a>
                    <ul>
                        <li><a href="#res" class="ancLinks">Ресурсы по бригадам</a></li>
                        <li><a href="#ksu" class="ancLinks">Карточка складского учета</a></li>
                    </ul>
                </li>
                <li><a href="#data" class="ancLinks">Работа с данными на сайте (Просмотр накладных и выдач)</a>
                    <ul>
                        <li><a href="#waybill" class="ancLinks">Накладные</a></li>
                        <li><a href="#allocation" class="ancLinks">Выдачи</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div>
        <ol class="counter">
            <li>Вход на сайт <a id="enter"></a>
                <p>
                    Открываете браузер (Chrome, Mozilla Firefox, Opera и т.д. ).
                    Вводите адрес сайта: acc.wicon.ru. Появится страница для входа на сайт (см. Картинку).
                    В поле Email вводите адрес почтового ящика. В поле ПАРОЛЬ вводите пароль. Нажимаете кнопку  “Войти”.
                    Сайт автоматически перейдет на страницу склада.
                </p>
                <img src="/images/warehouse/1.png">
            </li>
            <li>Знакомство с сайтом   <a id="site"></a>
                <p>
                   После входа на сайт вы перейдете на страницу состояния склада.
                   Страница содержит список текущих товаров хранящихся на складе с ненулевым остатком.
                </p>
                <img src="/images/warehouse/2.png">
            </li>
            <ul>Основные области:
                <li>
                    <p>
                        а) Область меню находится слева. Меню разделяется на три основных части:
                    </p>
                </li>
                    <ol>
                        <li>
                            <p>
                                Меню создания: содержит в себе ссылки на страницы создания накладной и выдачи.
                                Что бы их увидеть необходимо нажать на кнопку “Создать”.
                            </p>
                            <img src="/images/warehouse/22.png">
                        </li>
                        <li>
                            <p>
                                Меню списков: содержит в себе ссылки на страницы списков накладных(“Накладные”) и выдач(“Выдачи”).
                                Что бы свернуть меню наведите мышкой на слово “Списки” и нажмите левой кнопкой один раз. Меню скроется.
                                То же надо сделать что бы развернуть.
                            </p>
                        </li>
                        <li>
                            <p>
                                Меню состояний (отчеты): содержит ссылки на состояние склада (“Склад”),
                                отчет по выдачам на бригады с ценой (“Ресурсы по бригадам”),
                                карточки складского учета (“Карточка складского учета”).
                                Меню состояния можно свернуть наведя мышку на слово “Состояния” и нажав левой кнопкой мыши.
                                То же надо сделать что бы развернуть.
                            </p>
                            <img src="/images/warehouse/23.png">
                        </li>
                    </ol>
                <li>
                    <p>
                        б) Область основных операций с сайтом. Данная область находится в самом верху сайта.
                        Слева находится ФИО текущего пользователя. Справа находятся две кнопки на которые можно нажать.
                        “Инвентаризация” - не актуальна, будет убрана в ближаешее время. “Выйти” - при нажатии вы выйдете с программы.
                    </p>
                </li>
                <li>
                    <p>
                        в) Область поиска. В областе поиска находятся поля по которым можно осуществлять поиск
                        в списках отображаемых на странице.
                        Для каждой странице фильтр будет описан отдельно. Что бы его открыть необходимо нажать на черный треугольник слева от кнопки “Поиск”.
                    </p>
                    <img src="/images/warehouse/24.png">
                    <p>Основные действия:</p>
                    <p>
                        Для поиска, вводите необходимые данные и нажимаете на кнопку “Поиск ”
                        находящуюся снизу области поиска слева от надписи “Очистить фильтр”.
                        Если вы хотите что бы страница вернулась к изначальному состоянию.
                        Необходимо заново открыть “область поиска” далее нажать “Очистить фильтр” и нажать кнопку “Поиск”.
                    </p>
                </li>
                <li>
                    <p>
                        г) Область основных действий с документами и списками на страницах.
                        Смотрите на рисунке. Для каждой страницы действия могут отличаться, поэтому будут описаны индивидуально.
                        Общими являются кнопки справа. Кнопки справа позволяют переходить со страницы на страницу.
                        На странице отображается по 30 строк данных. Если кнопки не работают, то количество данных не превышает 30 позиций.
                        Полное количество позиций, и диапозон отображаемых позиций находятся слева от кнопок перехода по страницам.
                        К примеру на картинке написано: “1-4 из 4”, что означает - Порядковый номер первой позиции отображаемой на странице 1,
                        порядковый номер последней позиции отображаемой на странице 4 из 4 позиций которые имеются на складе.
                    </p>
                    <img src="/images/warehouse/25.png">
                </li>
                <li>
                    <p>
                        д) рабочая область (см. рисунок ниже).
                        Область в которой производятся какие либо действия связанные с созданием или редактированием документов,
                        либо в которой отображаются данные по отчетам, по списках накладных выдач.
                    </p>
                    <img src="/images/warehouse/26.png">
                </li>
            </ul>
            <p>
            <li>Работа с данными на сайте <a id="work"></a>
                <ol class="counter">
                    <li>Просмотр отчетов   <a id="reports"></a>
                        <p>
                            При входе на сайт вы сразу попадете на страницу состояние склада, если вы находитесь не на этой странице,
                            то на нее можно попасть нажав в “Области меню” на текст  “Состояния” (если он не раскрыт), затем “Склад”.
                            “Состояния” (если он не раскрыт), затем “Ресурсы по бригадам” - для попадания на страницу отчета по бригаде за период.
                            “Состояния” (если он не раскрыт), затем “Карточка складского учета” - для просмотра карточек складского учета.
                        </p>
                        <ol class="counter">
                            <li>Состояние склада  <a id="state"></a>
                                <p>
                                    Страница склад (см. Рисунок) содержит в себе состояние  по ресурсам количество которых больше 0.
                                </p>
                                <p>
                                    Таблица сожержит в себе следующие колонки:
                                    “Название” - наименование товара, “Ед. Изм.” - единица измерения,
                                    “Количество на складе” - текущий остаток на складе.
                                    Над таблицей расположена кнопка “Печать” - она предназначена для того что бы распечатать состояние склада.
                                    При нажатии на нее появится документ(в формате pdf) который можно распечатать.
                                    Для главного кладовщика доступна группировка по складам либо по ресурсу.
                                    Для того что бы сгрупировать данные по складам (ресурсам) Вам необходимо нажать левой клавишей мышки
                                    по надписи “Без группировки” и выбрать нужную группировку так же путем нажатия левой клавиши мыши.
                                </p>
                                <p><img src="/images/warehouse/311.png"></p>
                                <p>
                                    Поиск товаров производится в “Области поиска” открытие которового описано в разделе 2 пункт “В”.
                                    На рисунке отображена область поиска для страницы состояние склада. Соответственно вы можете искать по названию,
                                    еденице измерения и количеству на складе. Как начать поиск смотрите главу 2 пункт “В”
                                    В таблице также можно кликнуть левой кнопкой мыши по строке (см. рисунок),
                                    вы автоматически перейдете на страницу “Карточка складского учета”.
                                    На странице “Карточка складского учета” будет отображена карточка складского учета по товару на который вы кликнули.
                                </p>
                                <p><img src="/images/warehouse/3112.png"></p>
                            </li>
                            <li>Ресурсы по бригадам  <a id="res"></a>
                                <p>
                                    На странице отображаются отчеты по товарам выданным на бригаду (прораба) с ценами за период времени.
                                    Так же возможно сохранить данный отчет в excel. Когда вы перешли на страницу она не будет содержать данные,
                                    потому что не был выбран бригадир (прораб) а у главного кладовщика не был выбран также склад.
                                    По умолчанию даты периода за который будет отображаться отчет стоят с начала месяца по сегодняшнее число.
                                </p>
                                <p><img src="/images/warehouse/312.png"></p>
                                <p>
                                    Выбор склада главным кладовщиком производится путем нажатия левой кнопкой мыши на текст “Выберите склад”
                                    и далее нажатие левой клавишей мыши на необходимый склад. Для того что бы выбрать бригаду,
                                    Вам необходимо в “Области действий” нажать левой клавишей мышки на текст “Выберите бригадира”.
                                    После нажатия появится список бригадиров (прорабов) где вы можете выбрать бригадира(прораба)
                                    путем нажатия на него левой клавишей мышки. Если вы хотите выбрать период за который будет производится выписка,
                                    то начало периода выбирается справа от текста “С: ” путем  нажатия левой клавиши мышки и выбора даты.
                                    Окончание периода выбирается аналогично началу периода справа от поля “По:”.
                                    Как только у Вас появляются данные по бригаде (прорабу), вы можете сохранить их в excel,
                                    это можно сделать нажав на кнопку “Печать”.
                                </p>
                                <p><img src="/images/warehouse/3122.png"></p>
                            </li>
                            <li>Карточка складского учета  <a id="ksu"></a>
                                <p>
                                    Страница “Карточка складского учета” содержит в себе данные по конкретному товару – т.е. приход,
                                    выдачу и остаток товара. При открытии данной страницы – информации не будет,
                                    для получения информации необходимо выбрать товар а главный кладовщик выбрать дополнительно склад.
                                </p>
                                <p><img src="/images/warehouse/313.png"></p>
                                <p>
                                    Выбор склада производится путем нажатия левой кнопкой мыши на текст “Выберите склад”
                                    и далее нажатие левой клавишей мыши на необходимый склад. Выбор товара производится путем ввода названия товара
                                    в поле расположенное в “Области основных действий” справа от текста “Название:”.
                                    В процессе ввода для вас будут появляться варианты товаров.
                                    Вводить можно частичное либо полное название не учитывая большая или маленькая буквы.
                                    После того как вы увидели нужный товар, Вам необходимо его выбрать путем нажатия на него левой клавишей мышки.
                                    Когда товар был выбран и появилась информация, вы сможете распечатать данные, путем нажатия на кнопку “Печать”.
                                </p>
                                <img src="/images/warehouse/3132.png">
                            </li>
                            <ol>Расшифровка таблицы (слева направо):
                                <li>Дата – дата прихода либо расхода</li>
                                <li>Приход – название поставщика который поставил данный товар на склад. Если с данной строке это поле пустое, то тут отображается расход</li>
                                <li>№ накладной – номер накладной по которой пришел товар</li>
                                <li>Количество – количество товара пришедшего по накладной</li>
                                <li>Расход – ФИО человека (название бригады) на которого был выдан товар. Если поле пустое, то в данной строке отображен приход.</li>
                                <li>Количество – количество которое было выдано бригаде (прорабу)</li>
                                <li>Остаток – остаток товара на складе на дату отображенную в первой колонке</li>
                                <p>В самом низу таблицы вы видете строку “Итого: ” - в этой строке отображается текущий остаток на складе.</p>
                            </ol>
                        </ol>
                    </li>
                    <li>Работа с данными на сайте (Просмотр накладных и выдач) <a id="data"></a>
                        <p>
                            Что бы попасть на страницу всех накладных вам необходимо нажать
                            в “Области меню” на текст  “Списки” (если он не раскрыт), затем “Накладные”.
                            “Списки” (если он не раскрыт), затем “Выдачи” - для попадания на страницу выдач на бригады (прорабов).
                        </p>
                        <ol class="counter">
                            <li>Накладные <a id="waybill"></a>
                                <p>
                                    На данной странице находятся все накладные введенные в систему.
                                </p>
                                <p><img src="/images/warehouse/321.png"></p>
                            </li>
                            <ol>Расшифровка таблицы (слева направо):
                                <li>Дата создания – дата прихода накладной</li>
                                <li>№ документа – номер накладной</li>
                                <li>Поставщик – название организации поставившей товар</li>
                                <li>Сумма – общая стоимость товара в накладной</li>
                                <li>Состояние – текущее состояние накладной.
                                    <p>Состояния могут быть:</p>
                                    <p>“В работе” - значит накладная была создана, но не была еще принята в систему, т.е. товар по накладной не появился еще в остатках,</p>
                                    <p>“Применен” - значит накладная создана и поступила в систему, т.е. товар числится на складе,</p>
                                    <p>“Отменена” - это значит накладная была создана, но с ошибками и поэтому в системе не учитывается,</p>
                                    <p>“Стронирована” - накладная была применена, но была не правильно создана либо товар вернули обратно,
                                        и накладная была убрана из системы.</p>
                                </li>
                                <p>
                                    Также в таблице можно просмотреть ресурсы пришедшие по накладной. Для этого необходимо нажать на крестик
                                    (он расположен слева на строке в которой искомая накладная) и появится списко ресурсов для данной накладной.
                                    Если вы хотите посмотреть накладную более детально, то вы можете нажать на строку сожержащую искому накладную,
                                    и вы перейдете на страницу с полным описанием накладной, где сможете “Применить” либо “Отменить” накладную
                                    если она еще в состоянии “В работе”. Главный кладовщик может стронировать накладную если она “Применена”.
                                </p>
                                <p><img src="/images/warehouse/3212.png"></p>
                            </ol>
                            <li>Выдачи  <a id="allocation"></a>
                                <p>
                                    На данной странице находятся все выдачи введенные в систему.
                                </p>
                                <p><img src="/images/warehouse/322.png"></p>
                            </li>
                            <ol>Расшифровка таблицы (слева направо):
                                <li>Дата создания – дата выдачи</li>
                                <li>Прораб – ФИО прораба (бригадира) либо название бригады на которую выдавался товар.</li>
                                <li>Состояние – текущее состояние выдачи.
                                    <p>Состояния могут быть:</p>
                                    <p>“В работе” - значит выдача была создана, но не была еще принята в систему, т.е. товар по выдаче не убирался из остатков склада,</p>
                                    <p>“Применен” - значит выдача создана и товар списан со склада на бригаду,</p>
                                    <p>“Отменена” - это значит выдача была создана, но с ошибками и поэтому в системе не учитывается,</p>
                                    <p>“Стронирована” - выдача была применена, но была не правильно создана либо товар вернули обратно, и выдача была убрана из системы.</p>
                                    Также в таблице можно просмотреть ресурсы пришедшие по выдаче.
                                    Для этого необходимо нажать на крестик (он расположен слева на строке в которой искомая выдача)
                                    и появится списко ресурсов для данной выдаче.
                                    Если вы хотите посмотреть выдачу более детально, то вы можете нажать на строку сожержащую искому выдачу,
                                    и вы перейдете на страницу с полным описанием выдачи, где сможете “Применить” либо “Отменить” накладную если она
                                    еще в состоянии “В работе”. Главный кладовщик может стронировать выдачу если она “Применена”.
                                    <p><img src="/images/warehouse/3222.png"></p>
                                </li>
                            </ol>
                        </ol>
                    </li>
                </ol>
            </li>
            </p>
        </ol>
    </div>
</div>
