<table>
  <thead>
    <tr>
      <th id="tag" data-bind="click: sortBy">
        <%= t 'views.resources.tag' %><span></span>
      </th>
      <th id="ext_info" data-bind="click: sortBy">
        <%= t 'views.resources.ext_info' %><span></span>
      </th>
      <th id="type" data-bind="click: sortBy">
        <%= t 'views.resources.type' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr data-bind="click: $parent.select">
      <td data-bind="text: tag"></td>
      <td data-bind="text: ext_info"></td>
      <td data-bind="text: type"></td>
    </tr>
  </tbody>
</table>
