$table-border: solid 1px #d8d8d8;

.mini-icon{
  display: inline-block;
  height: 26px;
  width: 26px;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

.mini-icon.delete{
  background-image: url("delete_element_small.jpg");
}

.mini-icon.add{
  background-image: url("add_element_small.jpg");
}

.clear-div{
  clear:both;
  float:none;
  width:100%;
  height:1px;
  background:none;
}

#main #container_documents{
  #available-resources, #selected-resources {
    border-left: $table-border;
    margin: 0 0 2px 2px;
    width: 722px;

    caption {
      background-color: #ededed;
      border: $table-border;
      height: 30px;
      color: dimGray;
      font-size: 100%;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      margin-top: 7px;
    }

    tr{
      cursor: default;

      td{
        height: 26px;
        padding: 1px;
      }

      td.distribution-actions{
        cursor: pointer;
      }
    }
  }

  .available-resources-tag{
    width: 60%;
  }

  .available-resources-mu{
    width: 15%;
  }

  .available-resources-exp-amount{
    width: 21%;
  }

  .selected-resources-tag{
    width: 50%;
  }

  .selected-resources-mu{
    width: 13%;
  }

  .selected-resources-exp-amount{
    width: 20%;
  }

  .selected-resources-count{
    width: 13%;
  }
}
