#container_documents form fieldset table {
  .estimate-boms-name {
    width: 65%;

    table.estimate-bom-elements {
      border-spacing: 0;
      width: 100%;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;

      td {
        color: #b8b8b8;
      }
    }
  }

  .estimate-boms-count,
  .estimate-boms-sum,
  .estimate-boms-tab {
    vertical-align: top;
  }

  .estimate-boms-tab {
    width: 20%;
  }

  .estimate-boms-sum {
    width: 10%;
  }

  .estimate-boms-actions,
  .estimate-boms-tree-actions {
    width: 17px;
    padding: 4px 2px 0 3px;
    vertical-align: top;

    label {
      padding-left: 16px;
    }
  }

  label.tree-plus {
    background: url("plus.png") no-repeat;
    cursor: pointer;
  }

  label.tree-minus {
    background: url("minus.png") no-repeat;
    cursor: pointer;
  }
}

.elements-align-center {
  text-align: center;
  input {
    text-align: center;
  }
  .col-width {
    min-width: 100px;
  }
  .tag-width {
    min-width: 200px;
  }
  .font-bold {
    font-weight: bold;
  }
}
