.div-login, .div-send-psw, .div-update-psw {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 20px;

  span {
    font-size: 20px;
  }

  form {
    margin-top: 6px;

    .field {
      padding: 7px 0;

      label {
        font-weight: bold;
        font-size: 14px;
      }

      input {
        border: 1px solid #c0c0c0;
        height: 20px;
        margin: 0;
        width: 176px;
      }
    }

    .login_actions {
      padding-top: 7px;

      input[type=submit] {
        height: 25px;
        min-width: 60px;
        margin: 0 0 7px 0;
      }

      a {
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }
}
