.div-send-psw, .div-update-psw {
  .container-alert {
    font-size: 13px;
    margin: -6px 0 -7px 0;
    color: red;
  }

  .field_with_errors {
    border: 1px solid red;
  }
}

.div-send-psw {
  height: 140px;
  margin-top: -110px;
}

.div-update-psw {
  height: 256px;
  margin-top: -168px;
}
