.div-login {
  height: 222px;
  margin-top: -151px;

  .container-alert, .container-notice {
    font-size: 13px;
    margin: -2px 0 -11px 0;
  }

  .container-alert {
    color: red;
  }

  .container-notice {
    color: green;
  }

  .options {
    margin: 2px 0 0 -5px;

    label {
      font-size: 14px;
    }
  }
}
