/* menu styles */

.arrow_down {
  background: url("down-arrow.gif") no-repeat transparent;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-left: 3px;
  position: relative;
  display: inline-block;
}

#sidebar .button_drop_down_list {
  margin: 0;
  padding: 0;
  float: left;
  font: 12px Tahoma, Arial;

  a {
    display: block;
    background: #dddddd;
    padding: 5px 12px;
    text-decoration: none;
    border: 1px solid #cccccc;
    color: #000000;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: -webkit-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -moz-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -o-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -ms-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
  }

  a:hover {
    border: 1px solid #aaaaaa;
  }

  ul {
    margin: 0 !important;
    padding: 0 5px 0 0;
    background: #f5f5f5;
    position: absolute;
    display: none;
    box-shadow: 0 4px 8px #8b8b8b;
    -webkit-box-shadow: 0 4px 8px #8b8b8b;
    -moz-box-shadow: 0 4px 8px #8b8b8b;

    li {
      float: none;
      display: inline;

      a {
        width: auto;
        background: #f5f5f5;
        color: #24313C;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0
      }

      a:hover {
        background: #ececec;
        border: none;
      }
    }
  }
}

div.filter-area {
  display: none;
  position: absolute;
  top: 62px;
  width: 278px;
  left: 170px;
  background: white;
  border: 1px solid #d8d8d8;
  padding: 10px 12px 10px 10px;
  box-shadow: 0 4px 8px #8b8b8b;
  -webkit-box-shadow: 0 4px 8px #8b8b8b;
  -moz-box-shadow: 0 4px 8px #8b8b8b;
  z-index: 1;

  label {
    display: block;
    color: #555;
  }

  input[type='text'], select {
    display: block;
    margin: 1px 0 10px 0;
    width: 100%;
  }

  input[type='button'] {
    margin: 0;
  }
}
