/* menu styles */

$menu_selected: #e5e5e5;

.arrow_down {
  background: url("down-arrow.gif") no-repeat transparent;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-left: 3px;
  position: relative;
  display: inline-block;
}

#sidebar .button_drop_down_list {
  margin: 0;
  padding: 0;
  float: left;
  font: 12px Tahoma, Arial;

  a {
    display: block;
    background: #dddddd;
    padding: 5px 12px;
    text-decoration: none;
    border: 1px solid #cccccc;
    color: #000000;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: -webkit-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -moz-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -o-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: -ms-gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
    background: gradient(linear,0% 40%, 0% 70%,from(#f9f9f9),to(#e3e3e3));
  }

  a:hover {
    border: 1px solid #aaaaaa;
  }

  ul {
    margin: 0 !important;
    padding: 0 5px 0 0;
    background: #f5f5f5;
    position: absolute;
    display: none;
    box-shadow: 0 4px 8px #8b8b8b;
    -webkit-box-shadow: 0 4px 8px #8b8b8b;
    -moz-box-shadow: 0 4px 8px #8b8b8b;

    li {
      float: none;
      display: inline;

      a {
        width: auto;
        background: #f5f5f5;
        color: #24313C;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0
      }

      a:hover {
        background: #ececec;
        border: none;
      }
    }
  }
}

div.filter-area {
  display: none;
  position: absolute;
  top: 62px;
  width: 278px;
  left: 170px;
  background: white;
  border: 1px solid #d8d8d8;
  padding: 10px 12px 10px 10px;
  box-shadow: 0 4px 8px #8b8b8b;
  -webkit-box-shadow: 0 4px 8px #8b8b8b;
  -moz-box-shadow: 0 4px 8px #8b8b8b;
  z-index: 1;

  label {
    display: block;
    color: #555;
  }

  input[type='text'], select {
    display: block;
    margin: 1px 0 10px 0;
    width: 100%;
  }

  input[type='button'] {
    margin: 0;
  }
}

.slide_action {
  width: 100%;
  height: 17px;
  position: relative;
  clear: both;
  margin-left: -14px;
  margin-bottom: 6px;

  .arrow-expand {
    padding: 2px 0;
    border-right: 2px solid #ffffff;
    text-align: center;
    float: left;
    width: 12px;
    height: 100%;
    cursor: pointer;
  }
  .arrow-expand:hover{
    background-color: #c0c0c0;
  }

  .arrow-right-expand{
    background: url("right-arrow.gif") center no-repeat transparent;
  }

  .arrow-down-expand {
    background: url("down-arrow.gif") center no-repeat transparent;
  }

  .btn_slide_action {
    width: 100%;
    height: 100%;
    padding: 2px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  .btn_slide_action:hover{
    background: $menu_selected;
    font-weight: bold;
  }
}

.slide_action:hover{
  background: $menu_selected;
  font-weight: bold;
}

#sidebar .slide_menu{
  margin: 7px 0 4px 8px;
  clear: both;
  border-left: 1px solid #dddddd;
}

.slider {
  width: 100%;
  position: relative;
  clear: both;
  margin-top: 8px;

  .arrow-down-slide{
    background: url("down-arrow.gif") center no-repeat transparent;
    border-top: 1px solid gray;
    float: left;
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 6px;
  }

  .arrow-up-slide{
    background: url("up-arrow.gif") center no-repeat transparent;
    border-bottom: 1px solid gray;
    float: left;
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 6px;
  }

  .btn-slide {
    padding: 2px;
    width: 100%;
    height: 17px;
    display: block;
    text-align: left;
  }

  .btn-slide:hover{
    background: $menu_selected;
    font-weight: bold;
  }
}
