.tabs {
  ul {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    height: 25px;
    border-bottom: 1px solid #666;
  }

  ul li {
    float: left;
    text-indent: 0;
    padding: 0;
    margin: 0 !important;
    list-style-image: none !important;
  }

  ul a {
    background: url(tabs.png) no-repeat -652px 0;
    font-size: 13px;
    display: block;
    height: 24px;
    line-height: 26px;
    width: 111px;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 1px;
  }

  ul a:active {
    outline: none;
  }

  ul a:hover {
    background-position: -652px -31px;
  	color: #fff;
  }

  ul a.current, ul a.current:hover {
    background-position: -652px -62px;
  	cursor: default !important;
    color: #000;
  }

  div.tab {
  	display: none;
  	padding: 15px 10px 10px 10px;
  	border: 1px solid #999;
  	border-top: 0;
  	font-size: 14px;
    margin-bottom: 5px;
  }

  div.current {
  	display: block;
  }
}
