#container_documents form fieldset table {
  .waybill-entry-tag{

  }
  .waybill-entry-mu{
    width: 30%;
  }
  .waybill-entry-count{
    width: 10%;
  }
  .waybill-entry-price{
    width: 10%;
  }
  .waybill-entry-sum{
    width: 10%;
  }
}
