<table>
  <thead>
    <tr>
      <th class="warehouse-place">Place</th>
      <th class="warehouse-tag">Tag</th>
      <th class="warehouse-rel-amount">Real Amount</th>
      <th class="warehouse-exp-amount">Expiration Amount</th>
      <th class="warehouse-mu">MU</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: place"></td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: real_amount"></td>
      <td data-bind="text: exp_amount"></td>
      <td data-bind="text: mu"></td>
    </tr>
  </tbody>
</table>
