<div class='actions with-padding'>
  <input type="button"
         value="<%= t 'views.places.report_on_selected' %>"
         id="report_on_selected"
         data-bind="click: showBalances,  disable: selected().length == 0" />
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th id="tag" data-bind="click: sortBy">
        <%= t 'views.places.tag' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class="cell-checkbox">
        <input type="checkbox" data-bind="value: id, checked: $parent.selected" />
      </td>
      <td data-bind="text: tag, click: $parent.show"></td>
    </tr>
  </tbody>
</table>
