<%= yield %>
<div class="comments" data-bind="if: object.id">
  <fieldset>
    <legend><%= t 'layouts.comments.comments' %></legend>
    <%= render :partial => "home/comments", :locals => { :items => 'messages' } %>
  </fieldset>
</div>
