<div id="filter-area" class="filter-area">
  <%= yield :search %>
  <input type="button" value="<%=t 'views.home.search' %>" data-bind="click: filterData"/>
  <a href="#" id="clear_filter" data-bind="click: clearFilter">
    <%=t 'views.home.clear_filter' %>
  </a>
</div>

<%= yield  %>
